In [1]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
#release) and make data frame.

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
html=urlopen('https://www.imdb.com/india/top-rated-indian-movies/')
bs=BeautifulSoup(html,'html.parser')

In [5]:
movies=[]
sanitized_rating=[]
sanitized_moviename=[]
sanitized_year=[]
i=0
for moviedata in bs.find_all('td',class_="titleColumn"):
    if i<=99:
            sanitized_rating.append(moviedata.text.split("\n")[1].strip(".").strip())
            sanitized_moviename.append(moviedata.text.split("\n")[2].strip())
            sanitized_year.append(moviedata.text.split("\n")[3].strip("()").strip())
            i=i+1
    else:
            break
df=pd.DataFrame({'Name':sanitized_moviename,'Rating':sanitized_rating,'Year of Release':sanitized_year})
df

                       Name Rating Year of Release
0                  Jai Bhim      1            2021
1                Anbe Sivam      2            2003
2         Pariyerum Perumal      3            2018
3                   Golmaal      4            1979
4                   Nayakan      5            1987
..                      ...    ...             ...
95                   Sholay     96            1975
96         K.G.F: Chapter 1     97            2018
97                   Angoor     98            1982
98                Virumandi     99            2004
99  Maheshinte Prathikaaram    100            2016

[100 rows x 3 columns]